.payment-container {
  min-width: 500px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .payment-container .card {
    width: 100%; }
  .payment-container .expiration {
    width: 50%; }
