/*Background*/
/*Font*/
/*Padding, Margin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

/*Background*/
/*Font*/
/*Padding, Margin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

/*Hamburger*/
.wrapper {
  position: absolute;
  top: 13px;
  left: 0; }
  .wrapper .container {
    width: 75px; }
    .wrapper .container .hamburger-btn {
      width: 33px;
      height: 33px;
      border: 2px solid #fff;
      border-radius: 50%;
      margin: 0 auto;
      cursor: pointer;
      position: relative; }
      .wrapper .container .hamburger-btn .two {
        position: absolute;
        top: 45%;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: #fff;
        border-radius: 50px;
        transition: all 0.3s linear; }
      .wrapper .container .hamburger-btn .one {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: #fff;
        border-radius: 50px;
        transition: all 0.3s linear; }
      .wrapper .container .hamburger-btn .three {
        position: absolute;
        top: 65%;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: #fff;
        border-radius: 50px;
        transition: all 0.3s linear; }

.wrapper .hamburger-btn.active .one {
  transform: rotate(45deg);
  top: 45%;
  left: 25%;
  position: absolute; }

.wrapper .hamburger-btn.active .two {
  opacity: 0; }

.wrapper .hamburger-btn.active .three {
  transform: rotate(-45deg);
  top: 45%;
  left: 25%; }

.menu {
  width: 140px;
  height: auto;
  background: #fff;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  top: 10px;
  left: -19%;
  transition: all 0.5s linear; }
  .menu li {
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s linear; }
    .menu li a {
      padding: 10px;
      display: block;
      font-size: 12px;
      font-weight: bold;
      color: black;
      transition: all 0.2s linear;
      text-decoration: none; }
    .menu li a:hover {
      color: black;
      font-weight: bold; }
  .menu li:hover {
    background: #80ddd2; }

.menu::before {
  content: "";
  position: absolute;
  top: -12%;
  left: 37%;
  transform: translate(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

.menu.active {
  opacity: 1;
  z-index: 9; }

.ui-dialog {
  position: absolute;
  top: 60px !important; }

#opener {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  width: 20px;
  height: 45px; }
  #opener .basket {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    cursor: pointer;
    align-items: center; }
    #opener .basket::marker {
      display: none; }
    #opener .basket img {
      margin: 0; }

header {
  margin: 0; }

.heroimage {
  width: 100%;
  height: 450px;
  background-image: url("./../img/producthero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.cartproduct img {
  width: 150px;
  height: 200px;
  object-fit: contain; }

.cartproduct h3 {
  font-size: 14px;
  text-align: center;
  font-weight: bold; }

.cartproduct p {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold; }

.cartproduct .deleteButton {
  background: url("../img/trash.png");
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-indent: -999999px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin: 0 auto; }

.cartproduct .counterdiv {
  text-align: center; }
  .cartproduct .counterdiv .activeCount {
    font-weight: bold; }
  .cartproduct .counterdiv .subbtn,
  .cartproduct .counterdiv .addbtn {
    color: #000000;
    border: none;
    border-radius: 3px;
    margin: 2px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #dee2e6;
    width: 30px;
    height: 30px; }

#total {
  width: 250px;
  height: 100px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #total #totalPrice {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold; }
  #total #buyButton {
    height: 45px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    background: #242424;
    font-family: default;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer; }

.form-control {
  height: 40px;
  width: 140px;
  margin: 10px;
  font-weight: bold;
  color: #ffffff;
  background: #242424;
  font-family: default;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 6px;
  cursor: pointer; }
  .form-control option {
    font-weight: bold; }
    .form-control option:checked {
      box-shadow: 0 0 10px 100px #000 inset; }
    .form-control option:hover {
      box-shadow: 0 0 10px 100px #000 inset; }
  .form-control:focus > option:checked {
    background: #80ddd2 !important; }

#product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 0px;
  padding: 20px;
  background: #ffffff; }
  @media screen and (min-width: 1024px) {
    #product-container {
      margin: 0px;
      padding: 60px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; } }
  #product-container .product {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 600px;
    width: 95%; }
    @media screen and (min-width: 1024px) {
      #product-container .product {
        width: 20%;
        background-size: contain;
        margin: 45px; } }
    #product-container .product .image {
      width: 150px;
      display: flex;
      justify-content: center;
      margin-bottom: 12px; }
      #product-container .product .image img {
        width: 150px;
        height: 200px;
        object-fit: cover;
        transition: transform 0.25s ease; }
        #product-container .product .image img:hover {
          -webkit-transform: scale(1.5);
          transform: scale(1.5); }
    #product-container .product h3 {
      font-size: 16px;
      margin-bottom: 12px;
      font-weight: 600; }
    #product-container .product p {
      font-size: 16px;
      margin-bottom: 12px;
      font-weight: 600; }
    #product-container .product a {
      padding: 10px;
      margin: 10px;
      text-decoration: none;
      font-weight: bold;
      color: grey; }
      #product-container .product a:hover {
        background: #80ddd2; }
    #product-container .product .description {
      font-size: 14px;
      font-weight: 600; }
    #product-container .product .AddToCartButton {
      border-radius: 2px;
      height: 30px;
      width: 100px;
      cursor: pointer;
      background: #808080;
      color: #ffffff;
      border: none;
      margin-bottom: 20px;
      font-weight: bold; }

.amount {
  color: #ffffff;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 20px;
  font-weight: 600; }
