/*Background*/
/*Font*/
/*Padding, Margin*/
#opener {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  width: 20px;
  height: 45px; }
  #opener .basket {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    align-items: center; }
    #opener .basket::marker {
      display: none; }
    #opener .basket img {
      margin: 0; }

.ui-dialog {
  top: 60px !important;
  position: absolute; }

header {
  margin: 0; }

.heroimage {
  width: 100%;
  height: 450px;
  background-image: url("./../img/producthero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.ui-dialog {
  position: absolute;
  top: 60px !important; }

.cartproduct img {
  width: 150px;
  height: 200px;
  object-fit: contain; }

.cartproduct h3 {
  font-size: 14px;
  text-align: center; }

.cartproduct p {
  text-align: center;
  margin-bottom: 10px; }

.cartproduct .deleteButton {
  background: url("../IMG/trash.png");
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -999999px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin: 0 auto; }

.cartproduct .counterdiv {
  text-align: center; }
  .cartproduct .counterdiv .subbtn, .cartproduct .counterdiv .addbtn {
    width: 20px;
    height: 20px;
    color: #000000;
    background: #e9e9e9;
    border: none;
    border-radius: 3px;
    margin: 2px;
    margin-bottom: 20px; }

#total {
  width: 250px;
  height: 100px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #total #totalPrice {
    display: block;
    margin: 0;
    padding: 0; }
  #total #buyButton {
    height: 45px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    background: #242424;
    font-family: default;
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 6px; }

#product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 0px;
  padding: 20px;
  background: #ffffff; }
  #product-container .product {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 500px; }
    #product-container .product .image {
      width: 150px;
      display: flex;
      justify-content: center;
      margin-bottom: 12px; }
      #product-container .product .image img {
        width: 150px;
        height: 200px;
        object-fit: cover;
        transition: transform 0.25s ease; }
        #product-container .product .image img:hover {
          -webkit-transform: scale(1.5);
          transform: scale(1.5); }
    #product-container .product h3 {
      font-size: 16px;
      margin-bottom: 12px; }
    #product-container .product p {
      font-size: 16px;
      margin-bottom: 12px; }
    #product-container .product .description {
      font-size: 14px; }
    #product-container .product .AddToCartButton {
      border-radius: 2px;
      height: 30px;
      width: 100px;
      cursor: pointer;
      background: #808080;
      color: #ffffff;
      border: none;
      margin-bottom: 20px; }

.amount {
  color: red; }

/* Destop Device */
@media only screen and (min-width: 1201px) {
  #product-container {
    margin: 0px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #product-container .product {
      width: 30%;
      background-size: contain;
      margin: 45px; }
    #product-container .animal {
      cursor: pointer; }
    #product-container .ui-dialog {
      margin-top: 60px;
      top: 60px; } }
