.thanks {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .thanks h1 {
    margin: 10px;
    text-align: center; }
  .thanks p {
    margin: 10px;
    text-align: center; }
  .thanks a {
    margin: 10px;
    text-align: center; }
