/*Background*/
/*Font*/
/*Padding, Margin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

/*Background*/
/*Font*/
/*Padding, Margin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

/*Hamburger*/
.wrapper {
  position: absolute;
  top: 13px;
  left: 0; }
  .wrapper .container {
    width: 75px; }
    .wrapper .container .hamburger-btn {
      width: 33px;
      height: 33px;
      border: 2px solid #fff;
      border-radius: 50%;
      margin: 0 auto;
      cursor: pointer;
      position: relative; }
      .wrapper .container .hamburger-btn .two {
        position: absolute;
        top: 45%;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: #fff;
        border-radius: 50px;
        transition: all 0.3s linear; }
      .wrapper .container .hamburger-btn .one {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: #fff;
        border-radius: 50px;
        transition: all 0.3s linear; }
      .wrapper .container .hamburger-btn .three {
        position: absolute;
        top: 65%;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: #fff;
        border-radius: 50px;
        transition: all 0.3s linear; }

.wrapper .hamburger-btn.active .one {
  transform: rotate(45deg);
  top: 45%;
  left: 25%;
  position: absolute; }

.wrapper .hamburger-btn.active .two {
  opacity: 0; }

.wrapper .hamburger-btn.active .three {
  transform: rotate(-45deg);
  top: 45%;
  left: 25%; }

.menu {
  width: 140px;
  height: auto;
  background: #fff;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  top: 10px;
  left: -19%;
  transition: all 0.5s linear; }
  .menu li {
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s linear; }
    .menu li a {
      padding: 10px;
      display: block;
      font-size: 12px;
      font-weight: 100;
      color: black;
      transition: all 0.2s linear;
      text-decoration: none; }
    .menu li a:hover {
      color: black;
      font-weight: bold; }
  .menu li:hover {
    background: #80ddd2; }

.menu::before {
  content: "";
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translate(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

.menu.active {
  opacity: 1; }

header {
  margin: 0; }

.thanks {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/originals/8a/9a/4b/8a9a4b1503a859e756b668405333ca0f.jpg");
  background-size: cover;
  background-position: center center;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: bold; }
  .thanks h1 {
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    white-space: nowrap; }
    @media screen and (min-width: 1024px) {
      .thanks h1 {
        font-size: 3rem; } }
  .thanks p {
    margin: 10px;
    text-align: center;
    font-size: 1rem; }
    @media screen and (min-width: 1024px) {
      .thanks p {
        font-size: 1.5rem; } }
  .thanks a {
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px; }
    .thanks a:hover {
      background: #80ddd2; }
