@import "variables";
@import "mixins";
@import "./../scss/dropdown.scss";
@import "./../scss/payment.scss";
@import "./../scss/userinfo.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#paymentbody {
  background: $bg-body;
}

nav {
  background: $bg-black;
  height: 60px;
  @include default-flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  #logotype {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    width: 30px;
    margin-right: 20px;
  }

  ul.desktop-menu {
    list-style: none;
    height: 50px;
    @include default-flex;
    visibility: hidden; // no show on the mobile device
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Hamburger*/
.wrapper {
  position: absolute;
  top: 13px;
  left: 0;
  .container {
    width: 75px;
    .hamburger-btn {
      width: 33px;
      height: 33px;
      border: 2px solid #fff;
      border-radius: 50%;
      margin: 0 auto;
      cursor: pointer;
      position: relative;
      .two {
        position: absolute;
        top: 45%;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: #fff;
        border-radius: 50px;
        transition: all 0.3s linear;
      }
      .one {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: #fff;
        border-radius: 50px;
        transition: all 0.3s linear;
      }
      .three {
        position: absolute;
        top: 65%;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: #fff;
        border-radius: 50px;
        transition: all 0.3s linear;
      }
    }
  }
}

.wrapper {
  .hamburger-btn.active {
    .one {
      transform: rotate(45deg);
      top: 45%;
      left: 25%;
      position: absolute;
    }
    .two {
      opacity: 0;
    }
    .three {
      transform: rotate(-45deg);
      top: 45%;
      left: 25%;
    }
  }
}

.menu {
  width: 140px;
  height: auto;
  background: #fff;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  top: 10px;
  left: -19%;
  transition: all 0.5s linear;
  li {
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s linear;
    a {
      padding: 10px;
      display: block;
      font-size: 12px;
      font-weight: bold;
      color: black;
      transition: all 0.2s linear;
      text-decoration: none;
    }
    a:hover {
      color: black;
      font-weight: bold;
    }
  }
  li:hover {
    background: #80ddd2;
  }
}

.menu::before {
  content: "";
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translate(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.menu.active {
  opacity: 1;
}

header {
  width: 100%;
  height: 100px;
  @include default-flex;
  flex-direction: column;
  background: $bg-head;
  margin-bottom: 20px;

  h1,
  h2 {
    color: rgb(192, 192, 192);
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }
}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;

  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    div {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 300px;
      height: 300px;
      margin-right: 50px;
      border-radius: 10px;
      background: #eee;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
      font-size: 100px;
      @include default-flex;
    }

    -webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    -webkit-scrollbar-thumb {
      background: $bg-black;
      border-radius: 10px;
    }

    -webkit-scrollbar-track {
      background: transparent;
    }
  }

  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: $font-white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }

  a:active {
    top: 1px;
  }

  a:focus {
    background: $bg-black;
  }
}

.author-info {
  background: $bg-black;
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.author-info a {
  color: $font-white;
}

section {
  width: 100%;
  height: auto;
  @include default-flex;
  flex-direction: column;
  margin-top: 20px;

  h1 {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: $font-white;
  }

  .producthero {
    width: 100%;

    img {
      width: 100%;
      display: block;
      cursor: pointer;
    }
  }

  .productcontent {
    width: 100%;

    p {
      line-height: 30px;
      margin: 30px;
    }
  }
}

footer {
  position: relative;
  height: 100px;
  width: 100%;
  background: $bg-black;
  color: $font-white;
  @include default-flex;
  flex-direction: row;
  padding: $padding-side;

  .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    p {
      font-size: $font-main;
    }
  }

  .socialmedia {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .fa {
      padding: 10px;
      font-size: 20px;
      width: 40px;
      text-align: center;
      text-decoration: none;
      margin: 5px 5px;
      border-radius: 50%;
    }

    .fa:hover {
      opacity: 0.3;
    }

    .fa-facebook,
    .fa-twitter,
    .fa-instagram {
      background: $bg-social;
      color: $font-white;
    }
  }
}

/* Destop Device */
@media only screen and (min-width: 1201px) {
  nav {
    background: $bg-black;
    height: 60px;
    @include default-flex;
    justify-content: space-between;
    padding: $padding-side;

    img {
      width: 30px;
    }

    ul.desktop-menu {
      width: 100%;
      @include default-flex;
      flex-direction: row;
      justify-content: flex-start;
      height: 50px;
      visibility: visible;
      padding: $padding-side;

      li {
        display: block;
        padding: 0 10px;
        list-style: none;

        a {
          font-size: $font-main;
          text-decoration: none;
          color: $font-white;
        }
      }
    }
  }

  .wrapper {
    visibility: hidden;
  }

  section {
    width: 100%;
    height: auto;
    @include default-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;

    .producthero {
      width: 50%;
      height: auto;
      padding: 20px;
    }

    .productcontent {
      width: 50%;
    }
  }
}
