@import "./variables/variables";
@import "./resets";
@import "./variables/mixins";
@import "./dropdown.scss";

#paymentbody {
  margin: 20px;
  padding: 0;
  background-color: $bg-body;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 160px);
  @include desktop {
    margin: 0;
    padding: 0;
    background-color: $bg-body;
  }

  .payment-container {
    width: 95%;
    background-color: $font-white;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    @include desktop {
      width: 50%;
      min-width: 400px;
      max-width: 100%;
      background-color: #fff;
      padding: 45px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
      text-align: center;
      margin: 0 0 40px;
      padding: 0;
      color: $bg-black;
      font-size: 24px;
    }

    #submitForm {
      h2 {
        margin: 0 0 20px;
        margin-top: 60px;
        padding: 0;
        color: $bg-black;
        font-size: 12px;
        font-weight: bolder;
      }

      input {
        padding: 5px;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 1px solid $bg-social;
        font-weight: bold;
      }

      form div {
        position: relative;
      }

      form div label {
        position: absolute;
        top: 3px;
        pointer-events: none;
        left: 0;
        transition: 0.5s;
      }

      input:focus ~ label,
      input:valid ~ label {
        left: 0;
        top: -20px;
        color: blue;
        font-size: 12px;
        font-weight: bolder;
      }
      input:focus,
      input:valid {
        border-bottom: 1px solid blue;
      }

      ::-webkit-input-placeholder {
        text-align: right;
      }

      input:-moz-placeholder {
        text-align: right;
      }

      .errorValidator {
        color: red;
      }
    }

    button {
      border-radius: 2px;
      height: 40px;
      width: 100%;
      cursor: pointer;
      background: $bg-body;
      color: $bg-black;
      margin-top: 20px;
      border: none;
    }

    button:hover {
      background: green;
    }

    .card {
      width: 100%;
    }

    .expiration {
      width: 50%;
    }
  }
}
