@import "variables";
@import "mixins";

#opener {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  width: 20px;
  height: 45px;

  .basket{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style-type: none;

    align-items: center;
    &::marker{
      display: none;
    }
    img {
      margin: 0;
    }
  }
}

header {
  margin: 0;
}

.heroimage {
  width: 100%;
  height: 450px;
  background-image: url("./../img/producthero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ui-dialog {
  position: absolute;
  top: 60px !important;
  
}

.cartproduct {
  img{
    width: 150px;
    height: 200px;
    object-fit: contain;
  }
  h3 {
    font-size: 14px;
    text-align: center;
  }
  p {
    text-align: center;
    margin-bottom: 10px;
  }

  .deleteButton {
    background: url("../IMG/trash.png");
    display: block;
    width: 30px;
    height: 30px;

    text-indent: -999999px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 0 auto;
  }

  .counterdiv {
    text-align: center;

    .subbtn, .addbtn {
      width: 20px;
      height: 20px;
      color: #000000;
      background: #e9e9e9;
      border: none;
      border-radius: 3px;
      margin: 2px;
      margin-bottom: 20px;
    }
  }
}

#total {
  width: 250px;
  height: 100px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #totalPrice {
    display: block;
    margin: 0;
    padding: 0;
  }

  #buyButton {
    height: 45px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    color: $font-white;
    background: $bg-head;
    font-family: default;
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 6px;
  }
}




#product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 0px;
  padding: 20px;
  background: #ffffff;

  .product {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    .image {
      width: 150px;
      display: flex;
      justify-content: center;
      margin-bottom: 12px;
    
      
    img {
      width: 150px;
      height: 200px;
      object-fit: cover;
      transition: transform 0.25s ease;
      &:hover {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
      }
    }
  }

    h3 {
      font-size: 16px;
      margin-bottom: 12px;
    }

    p {
      font-size: 16px;
      margin-bottom: 12px;
    }
      
    .description {
      font-size: 14px;
    }
    
    .AddToCartButton {
      border-radius: 2px;
      height: 30px;
      width: 100px;
      cursor: pointer;
      background: $bg-social;
      color: $font-white;
      border: none;
      margin-bottom: 20px;
    } 
  }
}


/* Destop Device */
@media only screen and (min-width: 1201px) {
  #product-container {
    margin: 0px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .product {
      width: 30%;
      background-size: contain;
      margin: 45px;
    }
    .animal {
      cursor: pointer;
    }
    
    .ui-dialog {
      
      margin-top: 60px;
      top: 60px;
    } 
  }
}
