@import "./variables/variables";
@import "./resets";
@import "./variables/mixins";
@import "./dropdown.scss";

#userinfo-container {
  width: 100%;
  font-weight: bold;
  @include default-flex;

  h1 {
    line-height: 30px;
    padding-top: 20px;
    font-weight: bold;
  }

  #userform {
    width: 80%;
    background: #ffffff;
    margin: 20px;
    padding: 0 20px;
    padding-bottom: 20px;
    @include desktop {
      width: 45%;
      margin: 20px;
      padding: 0 60px;
      padding-bottom: 20px;
    }

    .name-holder {
      @include desktop {
        width: 100%;
        @include default-flex;
        justify-content: space-between;
      }
      .fname,
      .lname {
        @include desktop {
          width: 49%;
          padding: 0;
          margin: 0;
        }
      }
    }

    .post-holder {
      @include desktop {
        width: 100%;
        @include default-flex;
        justify-content: space-between;
      }
      .post,
      .town {
        @include desktop {
          width: 49%;
          padding: 0;
          margin: 0;
        }
      }
    }

    input {
      width: 100%;
      height: 45px;
      display: block;
      padding: 5px;
      border: none;
      background: $bg-body;
      font-weight: 600;
    }

    button {
      width: 100px;
      height: 42px;
      border: none;
      background: $bg-head;
      color: $font-white;
      float: right;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
